p {
  color: #83a7a5; }

h2 {
  color: white; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

  .cool-link {
  display: inline-block;
  text-decoration: none; }

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s; }


.cool-link:hover::after {
  width: 100%; }


nav ul {
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s; }

nav ul li {
  display: inline-block;
  padding-top: 2.2em;
  padding-left: 2em; }



.handle {
  width: 100%;
  background: #005c48;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  display: none;
}

@media screen and (max-width: 580px){
  nav ul {
    max-height: 0;
  }
  .show {
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .handle{
    display: block;
  }

}
  

@media screen and (min-width: 1212px) and (max-width: 1326px) {
  nav ul li {
    display: inline-block;
    padding-top: 2.2em;
    padding-left: 1em; } }
@media screen and (max-width: 580px) {
  nav ul {
    max-height: 0; }

  .show {
    max-height: 20em; }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left; } }
@media screen and (min-width: 1212px) and (max-width: 1826px) {
  nav ul li:nth-child(1) {
    margin-right: 3em; }

  .logo:nth-child(2n) {
    margin-right: 3em; } }
@media screen and (min-width: 947px) and (max-width: 1212px) {
  nav ul li {
    margin-right: 1em; }

  nav ul li:nth-child(1) {
    margin-right: 1em; }

  .logo:nth-child(2n) {
    margin-right: 1em; } }
.cols.col-1,
.cols.col-2,
.cols.col-4,
.cols.col-5,
.cols.col-6,
.cols.col-7,
.cols.col-8,
.cols.col-9,
.cols.col-10,
.cols.col-11,
.cols.col-12 {
  width: 100%; }

@media screen and (min-width: 981px) {
  .cols.col-1 {
    width: 8.33333333%; }

  .cols.col-2 {
    width: 16.666666666%; }

  .cols.col-3 {
    width: 25%;
    padding: 0;
    margin: 0; }

  .cols.col-4 {
    width: 33.333333333%; }

  .cols.col-5 {
    width: 41.6666666666%; }

  .cols.col-6 {
    width: 50%; }

  .cols.col-7 {
    width: 58.33333333%; }

  .cols.col-8 {
    width: 66.66666666%; }

  .cols.col-9 {
    width: 75%; }

  .cols.col-10 {
    width: 83.333333333%; }

  .cols.col-11 {
    width: 91.66666666%; }

  .cols.col-12 {
    width: 100%; } }
.container:before,
.container:after,
.cols.col-5:after,
.cols.col-5:before,
.about:after,
.about:before,
.clear:before,
.clear:after {
  content: " ";
  display: table; }

.container:after,
.cols.col-5:after,
.cols.col-5 :after {
  clear: both; }

header {
  width: 100%;
  height: 500px;
  background: url("../images/AboutUs.jpg") repeat;
  opacity: 0.9; }
  header nav ul li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
  header nav ul .logo:first-child {
    font-size: x-large;
    padding-top: 1.5em; }

/*.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #083929;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
} */
.btn {
  display: inline-block;
  background: #839291;
  color: #fff;
  padding: 15px 20px;
  font-size: .9em;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-transform: uppercase;
  font-weight: bold;
  border: none; }

h2 {
  text-align: center; }

.btn:hover {
  background: #333;
  color: #fff;
  transition: all .5s ease; }

@media screen and (max-width: 580px) {
  header .wrapper .cols.col-12 {
    float: left;
    padding-top: 0;
    display: inline-block; }
    header .wrapper .cols.col-12 .btn {
      margin-left: 24%; } }
.wrapper {
  width: 100%;
  height: 500px;
  margin: 0;
  background-color: #0a6a6a;
  opacity: 0.7; }
  .wrapper .cols.col-12 {
    padding-top: 5em;
    float: left;
    display: inline-block; }
    .wrapper .cols.col-12 h2 {
      text-align: center;
      margin-bottom: 0.2em; }
    @media screen and (min-width: 1327px) {
      .wrapper .cols.col-12 .btn {
        vertical-align: middle;
        margin-left: 42%;
        text-align: center;
        background-color: #13ce4b; } }
    @media screen and (min-width: 1141px) and (max-width: 1326px) {
      .wrapper .cols.col-12 .btn {
        vertical-align: middle;
        margin-left: 41%;
        text-align: center;
        background-color: #13ce4b; } }
    @media screen and (min-width: 940px) and (max-width: 1140px) {
      .wrapper .cols.col-12 .btn {
        vertical-align: middle;
        margin-left: 39%;
        text-align: center;
        background-color: #13ce4b; } }
    @media screen and (max-width: 940px) {
      .wrapper .cols.col-12 .btn {
        vertical-align: middle;
        margin-left: 37%;
        text-align: center;
        background-color: #13ce4b; } }

hr {
  border: none;
  background-color: #0f5f5c;
  height: 2px;
  width: 4em;
  margin-bottom: 1em; }

/*	@media screen and (max-width: 600px) {
             		.aboutUS,.meetOurTeam { width: 100%;
	margin-top: 5em; background-color: $white; 
	
		.cols.col-12 { height: 500px;
.cols.col-3 {
           	float: none;
           	width: 100%;
           	padding-left: none;
           	img { max-width: 100%; height: auto;}
           }
             	} } } */
@media screen and (min-width: 981px) {
  .aboutUS, .meetOurTeam {
    width: 100%;
    margin-top: 5em;
    background-color: white; }
    .aboutUS .cols.col-12, .meetOurTeam .cols.col-12 {
      height: 400px; }
      .aboutUS .cols.col-12 .cols.col-5, .meetOurTeam .cols.col-12 .cols.col-5 {
        padding-left: 20.5em;
        padding-bottom: 3em; }
        .aboutUS .cols.col-12 .cols.col-5 p, .meetOurTeam .cols.col-12 .cols.col-5 p {
          text-align: center;
          margin-left: 2em; }
      .aboutUS .cols.col-12 .cols.col-3, .meetOurTeam .cols.col-12 .cols.col-3 {
        float: left;
        padding-left: 5em; }
        .aboutUS .cols.col-12 .cols.col-3 p, .meetOurTeam .cols.col-12 .cols.col-3 p {
          text-align: center; }
        .aboutUS .cols.col-12 .cols.col-3 .iconics, .meetOurTeam .cols.col-12 .cols.col-3 .iconics {
          margin-bottom: 2em;
          margin-right: -3.5em; }
        .aboutUS .cols.col-12 .cols.col-3 .design, .meetOurTeam .cols.col-12 .cols.col-3 .design {
          margin-bottom: 2em;
          margin-right: -6em; }
        .aboutUS .cols.col-12 .cols.col-3 .photoshop, .meetOurTeam .cols.col-12 .cols.col-3 .photoshop {
          margin-bottom: 2em;
          margin-right: -8em; }
      .aboutUS .cols.col-12 .article, .meetOurTeam .cols.col-12 .article {
        padding-left: 4em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #0f5f5c;
        font-weight: bold; }
      .aboutUS .cols.col-12 h2, .meetOurTeam .cols.col-12 h2 {
        color: #0f5f5c;
        text-align: center;
        margin-bottom: 1em; } }
@media screen and (max-width: 980px) {
  .aboutUS, .meetOurTeam {
    width: 100%;
    margin-top: 5em;
    background-color: white; }
    .aboutUS .cols.col-12, .meetOurTeam .cols.col-12 {
      height: 700px;
      padding-top: 1em; }
      .aboutUS .cols.col-12 .cols.col-5, .meetOurTeam .cols.col-12 .cols.col-5 {
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 3em; }
        .aboutUS .cols.col-12 .cols.col-5 p, .meetOurTeam .cols.col-12 .cols.col-5 p {
          text-align: center;
          margin-left: 2em; }
      .aboutUS .cols.col-12 .cols.col-3, .meetOurTeam .cols.col-12 .cols.col-3 {
        width: 100%;
        float: left;
        padding-left: 0; }
        .aboutUS .cols.col-12 .cols.col-3 p, .meetOurTeam .cols.col-12 .cols.col-3 p {
          text-align: center;
          margin-left: 2em; }
        .aboutUS .cols.col-12 .cols.col-3 .iconics, .meetOurTeam .cols.col-12 .cols.col-3 .iconics {
          margin-bottom: 2em;
          margin-right: -3.5em; }
        .aboutUS .cols.col-12 .cols.col-3 .design, .meetOurTeam .cols.col-12 .cols.col-3 .design {
          margin-bottom: 2em;
          margin-right: -6em; }
        .aboutUS .cols.col-12 .cols.col-3 .photoshop, .meetOurTeam .cols.col-12 .cols.col-3 .photoshop {
          margin-bottom: 2em;
          margin-right: -8em; }
      .aboutUS .cols.col-12 .article, .meetOurTeam .cols.col-12 .article {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #0f5f5c;
        font-weight: bold; }
      .aboutUS .cols.col-12 h2, .meetOurTeam .cols.col-12 h2 {
        color: #0f5f5c;
        text-align: center;
        margin-bottom: 1em; } }
@media screen and (min-width: 981px) {
  .meetOurTeam {
    width: 100%;
    background-color: #eef1ec; }
    .meetOurTeam .cols.col-12 {
      height: 700px;
      margin: 0;
      margin-top: 8em; }
      .meetOurTeam .cols.col-12 .cols.col-5 {
        padding-left: 20.5em;
        padding-bottom: 3em; }
      .meetOurTeam .cols.col-12 .cols.col-3 {
        float: left;
        padding-left: 5em; }
        .meetOurTeam .cols.col-12 .cols.col-3 img {
          padding: 0;
          width: 100%; }
        .meetOurTeam .cols.col-12 .cols.col-3 p {
          text-align: center; }
        .meetOurTeam .cols.col-12 .cols.col-3 p:nth-child(2n) {
          padding: 0;
          color: #0f5f5c;
          font-weight: bold; }
        .meetOurTeam .cols.col-12 .cols.col-3 hr {
          margin-left: 16.5em;
          border: none;
          background-color: red;
          color: red;
          height: 2px;
          width: 4em;
          margin-bottom: 1em; }
        .meetOurTeam .cols.col-12 .cols.col-3 h2 {
          color: red;
          padding-left: 10em;
          padding-top: 1em; } }
@media screen and (min-width: 500px) and (max-width: 679px) {
  .meetOurTeam {
    width: 100%;
    background-color: #eef1ec; }
    .meetOurTeam .cols.col-12 {
      width: 100%;
      height: 1200px;
      margin: 0; }
      .meetOurTeam .cols.col-12 .cols.col-3 {
        width: 100%;
        float: none;
        padding: 0;
        margin-left: 2em; } }
@media screen and (max-width: 680px) {
  .meetOurTeam {
    width: 100%;
    background-color: #eef1ec;
    margin-top: 13em; }
    .meetOurTeam .cols.col-12 {
      width: 100%;
      height: 1400px;
      margin: 0; }
      .meetOurTeam .cols.col-12 .cols.col-5 {
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 3em; }
        .meetOurTeam .cols.col-12 .cols.col-5 p {
          text-align: center;
          margin-left: 2em; }
      .meetOurTeam .cols.col-12 .cols.col-3 {
        width: 100%;
        float: none;
        padding: 0; }
        .meetOurTeam .cols.col-12 .cols.col-3 img {
          padding: 0;
          width: 60%;
          margin-left: 5em; }
        .meetOurTeam .cols.col-12 .cols.col-3 p {
          text-align: center; }
        .meetOurTeam .cols.col-12 .cols.col-3 p:nth-child(2n) {
          padding: 0;
          color: #0f5f5c;
          font-weight: bold; }
        .meetOurTeam .cols.col-12 .cols.col-3 hr {
          margin-left: 16.5em;
          border: none;
          background-color: red;
          color: red;
          height: 2px;
          width: 4em;
          margin-bottom: 1em; }
        .meetOurTeam .cols.col-12 .cols.col-3 h2 {
          color: red;
          padding-left: 10em;
          padding-top: 1em; } }
@media screen and (min-width: 680px) and (max-width: 980px) {
  .meetOurTeam {
    width: 100%;
    background-color: #eef1ec; }
    .meetOurTeam .cols.col-12 {
      width: 100%;
      height: 1650px;
      margin: 0;
      margin-top: 2em; }
      .meetOurTeam .cols.col-12 .cols.col-5 {
        padding-left: 0;
        margin-right: 0;
        padding-bottom: 3em; }
        .meetOurTeam .cols.col-12 .cols.col-5 p {
          text-align: center;
          margin-left: 2em; }
      .meetOurTeam .cols.col-12 .cols.col-3 {
        width: 100%;
        float: none;
        padding: 0; }
        .meetOurTeam .cols.col-12 .cols.col-3 img {
          padding: 0;
          width: 60%;
          margin-left: 10em; }
        .meetOurTeam .cols.col-12 .cols.col-3 p {
          text-align: center; }
        .meetOurTeam .cols.col-12 .cols.col-3 p:nth-child(2n) {
          padding: 0;
          color: #0f5f5c;
          font-weight: bold; }
        .meetOurTeam .cols.col-12 .cols.col-3 hr {
          margin-left: 16.5em;
          border: none;
          background-color: red;
          color: red;
          height: 2px;
          width: 4em;
          margin-bottom: 1em; }
        .meetOurTeam .cols.col-12 .cols.col-3 h2 {
          color: red;
          padding-left: 10em;
          padding-top: 1em; } }
@media screen and (min-width: 680px) {
  .download {
    height: 100px;
    width: 100%; } }
.download {
  height: 200px;
  width: 100%;
  background: url("../images/iphone.jpg") no-repeat; }
  .download .downloadWrapper {
    height: 100%;
    opacity: 0.9;
    background-color: rgba(60, 170, 50, 0.83); }
  .download p {
    color: white;
    font-weight: bold;
    text-align: center; }
  .download h2 {
    margin-top: 0;
    padding-top: 1em;
    margin-bottom: 0em;
    text-align: center; }
  .download .cols.col-3 {
    float: right;
    padding-right: 8em; }
    .download .cols.col-3 .btn {
      background-color: #49732f; }
  @media screen and (max-width: 650px) {
    .download .cols.col-3 {
      float: right;
      padding-right: 0em; }
      .download .cols.col-3 .btn {
        background-color: #49732f; } }

footer {
  width: 90%;
  height: 250px;
  margin: 5em 0 0 0; }
  footer .cols.col-3:nth-child(2n) {
    padding-left: 0; }
  footer .cols.col-3 {
    float: left;
    margin: 0; }
    footer .cols.col-3 ul li {
      color: #83a7a5;
      margin-top: 1em;
      list-style-type: none; }
    footer .cols.col-3 ul li:first-child, footer .cols.col-3 ul .email {
      color: #0f5f5c;
      font-weight: bold; }
  footer .cols.col-2 {
    float: left;
    margin: 0; }
    footer .cols.col-2 ul li {
      color: #83a7a5;
      margin-top: 1em;
      list-style-type: none; }
    footer .cols.col-2 ul li:first-child {
      color: #0f5f5c;
      font-weight: bold; }

footer .cols.col-12 hr {
  width: 100%;
  opacity: 0.9; }
footer .cols.col-12 ul {
  float: right;
  margin-left: 10em; }
  footer .cols.col-12 ul li:nth-child(1) .circle {
    background-color: #55acee; }
    footer .cols.col-12 ul li:nth-child(1) .circle i {
      margin: 8px 0 0 6px; }
  footer .cols.col-12 ul li:nth-child(2n) .circle {
    background-color: #3b5998; }
    footer .cols.col-12 ul li:nth-child(2n) .circle i {
      margin: 8px 0 0 8px; }
  footer .cols.col-12 ul li:nth-child(3n) .circle {
    background-color: #3f729b; }
    footer .cols.col-12 ul li:nth-child(3n) .circle i {
      margin: 6px 0 0 7px; }
  footer .cols.col-12 ul li:nth-child(4n) .circle {
    background-color: #ea4c89; }
    footer .cols.col-12 ul li:nth-child(4n) .circle i {
      margin: 6px 0 0 7px; }
  footer .cols.col-12 ul li:nth-child(5n) .circle {
    background-color: #333; }
    footer .cols.col-12 ul li:nth-child(5n) .circle i {
      margin: 6px 0 0 5px; }
  footer .cols.col-12 ul li {
    color: white;
    font-size: 30px;
    display: inline-block; }
    footer .cols.col-12 ul li .circle {
      width: 40px;
      height: 40px;
      -moz-border-radius: 21px;
      -webkit-border-radius: 21px;
      border-radius: 21px; }
footer .cols.col-6 {
  margin-left: 2em;
  float: left; }
  footer .cols.col-6 hr {
    width: 140%;
    opacity: 0.9; }

/*# sourceMappingURL=main.css.map */
